.btn-small,
.btn-xsmall {
	text-decoration: none;
	color: #fff;
	background-color: #26a69a;
	text-align: center;
	letter-spacing: 0.5px;
	transition: 0.2s ease-out;
	cursor: pointer;
	outline: 0;
	border: none;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding: 0 1rem;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.btn-xsmall {
	padding: 0 5px;
	line-height: 22px;
	height: 22px;
}

.btn-small > i,
.btn-xsmall > i {
	line-height: inherit;
	font-size: 1.3rem;
	margin-right: 5px;
}
